@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-light {
  background: #e1e8eb 0% 0% no-repeat padding-box;
}

.Tab {
  box-shadow: 0px 2px 2px #00000029;
}
.selected {
  border-bottom: solid 2px #7952b3;
}
.text-dark {
  color: #343a40;
}
.text-yellow {
  color: #ffc107;
}

.text-primary {
  color: #7952b3;
}
.bg-primary {
  background-color: #7952b3;
}
/* 
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
} */

.input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  outline: none;
  margin: 0.375rem 0;
  width: 100%;
}
.input:focus {
  border: 1px solid #7952b3;
  box-shadow: 0 0 3px #7952b3;
  outline-offset: 0px;
  outline: none;
  border-radius: 4px;
}
label {
  font-size: 0.875rem;
  margin-top: 1rem;
}

.table-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100px;
}

.icon_delete {
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
}

.range {
  margin: 16px 0;
}

input[type="range"] {
  width: 100%;
  margin: 7.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #7952b3;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -7.5px;
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #7952b3;
}
input[type="range"]::-moz-range-track {
  background: #7952b3;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 8.2px 0;
  color: transparent;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #7952b3;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
  background: #7952b3;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border: 1.8px solid #00001e;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: #7952b3;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #7952b3;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
