@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-light {
  background: #e1e8eb 0% 0% no-repeat padding-box;
}

.Tab {
  box-shadow: 0px 2px 2px #00000029;
}
.selected {
  border-bottom: solid 2px #7952b3;
}
.text-dark {
  color: #343a40;
}
.text-yellow {
  color: #ffc107;
}

.text-primary {
  color: #7952b3;
}
/* 
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
} */

input {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  outline: none;
  margin: 0.375rem 0;
  width: 100%;
}
input:focus {
  border: 1px solid #7952b3;
  box-shadow: 0 0 3px #7952b3;
  outline-offset: 0px;
  outline: none;
  border-radius: 4px;
}
label {
  font-size: 0.875rem;
  margin-top: 1rem;
}
